In [16]:
import pandas as pd
from csv import reader
import pprint
from collections import defaultdict

In [5]:
# load the data

In [6]:
squad_list = pd.read_csv('C:/Users/jw156/Ironhack/football_teammates/Footballers/new_jonty/football_squad.csv', index_col=0)

In [7]:
squad_list

,Player,Club,Year,Player ID,Team ID,Appearances
0,Tony Adams,arsenal,1993,31,arsenal_1993,33
1,Steve Bould,arsenal,1993,484,arsenal_1993,24
2,Kevin Campbell,arsenal,1993,196,arsenal_1993,32
3,Jimmy Carter,arsenal,1993,30111,arsenal_1993,11
4,Paul Davis,arsenal,1993,27871,arsenal_1993,6
...,...,...,...,...,...,...
15807,Rui Patrício,wolverhampton-wanderers,2021,228012,wolverhampton-wanderers_2021,29
15808,Romain Saïss,wolverhampton-wanderers,2021,252857,wolverhampton-wanderers_2021,20
15809,Adama Traoré,wolverhampton-wanderers,2021,241740,wolverhampton-wanderers_2021,20
15810,Vitinha,wolverhampton-wanderers,2021,265842,wolverhampton-wanderers_2021,2
15811,Willian José,wolverhampton-wanderers,2021,257383,wolverhampton-wanderers_2021,8

In [8]:
# dataframe finding shared players

In [9]:
# find reserves and first-time

In [10]:
def player_or_squadman(appearances):
    if appearances == 0:
        return 'squad_player'
    else:
        return 'first_team_player'

In [11]:
squad_list['reserve_or_player'] = squad_list['Appearances'].apply(player_or_squadman)

#  Shared Players 'inc. reserves'

In [12]:
def shared_players(player1= '', player2='', reserve=True, squad_list=squad_list):
    all_player_id_to_team_ids_map = defaultdict(list)
    team_id_to_player_id = defaultdict(list)
    player_id_to_player_name = {}
    player_name_to_player_id_map = {}

    if reserve == False:
        squad_list = squad_list[squad_list['reserve_or_player']=='first_team_player']
    else:
        squad_list = squad_list

    players = squad_list.Player.tolist()
    all_player_id = squad_list['Player ID'].tolist()
    team_id = squad_list['Team ID'].tolist()

    for p, p_id, t_id in zip(players, all_player_id, team_id):
        player_name_to_player_id_map[p] = p_id
        all_player_id_to_team_ids_map[p_id].append(t_id)
        team_id_to_player_id[t_id].append(p_id)
        player_id_to_player_name[p_id] = p


    player1 = player_name_to_player_id_map[player1]
    player_1_team_ids = all_player_id_to_team_ids_map[player1]

    all_players_1 = set([])
    for team in player_1_team_ids:
        list_squads = team_id_to_player_id[team]
        for player in list_squads:
            all_players_1.add(player)
    player2 = player_name_to_player_id_map[player2]
    player_2_team_ids = all_player_id_to_team_ids_map[player2]

    all_players_2 = set([])
    for team in player_2_team_ids:
        list_squads = team_id_to_player_id[team]
        for player in list_squads:
            all_players_2.add(player)

    shared_players = list(all_players_1.intersection(all_players_2))
    shared_name_players = [player_id_to_player_name[player] for player in shared_players]
    return shared_name_players

In [13]:
shared_players('Mikel Arteta', 'Steven Gerrard', reserve=True)

['Sander Westerveld', 'Yossi Benayoun']

# Connect to MySQL

In [14]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import mysql.connector

In [17]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="127.0.0.1"
dbname="football_db"
uname="root"
pwd="edendale146"

# Create dataframe
df = squad_list
# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

## Create Tables

In [41]:
# replace team_id with a number in squad_list

In [43]:
dict_team_id = {}
i = 0
all_teams = set(team_id)
for team in all_teams:
    if team not in dict_team_id:
        dict_team_id[team] = i
    i += 1

In [44]:
dict_team_id

{'west-ham-united_1994': 0,
 'liverpool_2000': 1,
 'blackburn-rovers_2004': 2,
 'manchester-city_2005': 3,
 'manchester-united_2004': 4,
 'west-ham-united_2006': 5,
 'manchester-united_1996': 6,
 'manchester-united_1997': 7,
 'leicester-city_1998': 8,
 'sunderland_2013': 9,
 'newcastle-united_2016': 10,
 'blackburn-rovers_2007': 11,
 'sheffield-wednesday_1997': 12,
 'blackburn-rovers_1996': 13,
 'newcastle-united_2008': 14,
 'aston-villa_2011': 15,
 'sunderland_2017': 16,
 'stoke-city_2018': 17,
 'queens-park-rangers_1994': 18,
 'liverpool_2015': 19,
 'tottenham-hotspur_1995': 20,
 'huddersfield-town_2019': 21,
 'newcastle-united_2002': 22,
 'crystal-palace_1998': 23,
 'manchester-united_2015': 24,
 'sunderland_2000': 25,
 'derby-county_1997': 26,
 'west-ham-united_2003': 27,
 'queens-park-rangers_1993': 28,
 'newcastle-united_2011': 29,
 'tottenham-hotspur_2004': 30,
 'chelsea_2010': 31,
 'west-ham-united_2018': 32,
 'west-ham-united_2009': 33,
 'arsenal_2001': 34,
 'tottenham-hotspur_2001': 35,
 'crystal-palace_2017': 36,
 'everton_2008': 37,
 'arsenal_2003': 38,
 'arsenal_2018': 39,
 'arsenal_1993': 40,
 'manchester-united_2017': 41,
 'stoke-city_2013': 42,
 'tottenham-hotspur_2008': 43,
 'arsenal_2010': 44,
 'stoke-city_2012': 45,
 'swansea-city_2017': 46,
 'west-bromwich-albion_2021': 47,
 'liverpool_2003': 48,
 'chelsea_2014': 49,
 'liverpool_2020': 50,
 'southampton_2018': 51,
 'everton_2011': 52,
 'stoke-city_2015': 53,
 'tottenham-hotspur_2003': 54,
 'southampton_2019': 55,
 'west-ham-united_1999': 56,
 'burnley_2015': 57,
 'bradford-city_2001': 58,
 'aston-villa_2001': 59,
 'everton_2005': 60,
 'leeds-united_2003': 61,
 'liverpool_2011': 62,
 'leeds-united_2001': 63,
 'manchester-united_2006': 64,
 'southampton_2002': 65,
 'manchester-united_2018': 66,
 'blackburn-rovers_2006': 67,
 'manchester-united_2012': 68,
 'southampton_2005': 69,
 'manchester-united_2016': 70,
 'portsmouth_2007': 71,
 'wimbledon_1996': 72,
 'crystal-palace_2018': 73,
 'wigan-athletic_2007': 74,
 'arsenal_1997': 75,
 'liverpool_2004': 76,
 'newcastle-united_2005': 77,
 'leicester-city_2002': 78,
 'everton_2012': 79,
 'bolton-wanderers_2010': 80,
 'everton_2021': 81,
 'stoke-city_2014': 82,
 'southampton_1999': 83,
 'newcastle-united_2012': 84,
 'sheffield-wednesday_1996': 85,
 'chelsea_2007': 86,
 'everton_2014': 87,
 'wolverhampton-wanderers_2020': 88,
 'leeds-united_2004': 89,
 'wolverhampton-wanderers_2021': 90,
 'oldham-athletic_1994': 91,
 'southampton_1995': 92,
 'everton_2019': 93,
 'chelsea_2004': 94,
 'west-ham-united_2019': 95,
 'chelsea_1994': 96,
 'chelsea_2017': 97,
 'southampton_1997': 98,
 'nottingham-forest_1997': 99,
 'aston-villa_2020': 100,
 'southampton_1996': 101,
 'sheffield-united_1993': 102,
 'tottenham-hotspur_2015': 103,
 'crystal-palace_2014': 104,
 'arsenal_2016': 105,
 'wolverhampton-wanderers_2019': 106,
 'leicester-city_2017': 107,
 'tottenham-hotspur_2020': 108,
 'charlton-athletic_1999': 109,
 'wigan-athletic_2011': 110,
 'everton_2010': 111,
 'leicester-city_2016': 112,
 'tottenham-hotspur_2012': 113,
 'sunderland_2006': 114,
 'birmingham-city_2008': 115,
 'everton_2003': 116,
 'everton_2018': 117,
 'tottenham-hotspur_2000': 118,
 'aston-villa_1993': 119,
 'birmingham-city_2005': 120,
 'manchester-united_2014': 121,
 'brighton-and-hove-albion_2019': 122,
 'chelsea_2009': 123,
 'west-ham-united_2011': 124,
 'liverpool_1997': 125,
 'charlton-athletic_2004': 126,
 'bolton-wanderers_2004': 127,
 'manchester-city_2014': 128,
 'coventry-city_1996': 129,
 'newcastle-united_1994': 130,
 'bolton-wanderers_2009': 131,
 'arsenal_2014': 132,
 'fulham_2010': 133,
 'cardiff-city_2019': 134,
 'fulham_2008': 135,
 'leicester-city_1995': 136,
 'leicester-city_2000': 137,
 'afc-bournemouth_2016': 138,
 'chelsea_1999': 139,
 'manchester-united_1993': 140,
 'everton_2009': 141,
 'fulham_2007': 142,
 'newcastle-united_2013': 143,
 'wigan-athletic_2013': 144,
 'queens-park-rangers_2012': 145,
 'manchester-city_1996': 146,
 'manchester-united_2003': 147,
 'derby-county_2001': 148,
 'southampton_2021': 149,
 'aston-villa_1999': 150,
 'hull-city_2014': 151,
 'coventry-city_1998': 152,
 'middlesbrough_2017': 153,
 'wimbledon_1998': 154,
 'tottenham-hotspur_2007': 155,
 'liverpool_1993': 156,
 'leeds-united_2002': 157,
 'arsenal_2011': 158,
 'bolton-wanderers_2008': 159,
 'middlesbrough_2003': 160,
 'reading_2008': 161,
 'west-ham-united_1998': 162,
 'manchester-city_2012': 163,
 'middlesbrough_1999': 164,
 'aston-villa_2021': 165,
 'aston-villa_2000': 166,
 'blackburn-rovers_2002': 167,
 'liverpool_2016': 168,
 'crystal-palace_2015': 169,
 'leicester-city_1999': 170,
 'leicester-city_2001': 171,
 'reading_2007': 172,
 'arsenal_2007': 173,
 'sheffield-wednesday_1995': 174,
 'manchester-city_2013': 175,
 'portsmouth_2010': 176,
 'everton_1994': 177,
 'west-bromwich-albion_2016': 178,
 'southampton_2017': 179,
 'cardiff-city_2014': 180,
 'ipswich-town_1995': 181,
 'everton_1996': 182,
 'liverpool_2002': 183,
 'manchester-city_2004': 184,
 'brighton-and-hove-albion_2020': 185,
 'manchester-united_2009': 186,
 'portsmouth_2009': 187,
 'sunderland_2011': 188,
 'chelsea_2006': 189,
 'arsenal_2000': 190,
 'liverpool_1996': 191,
 'southampton_1994': 192,
 'sunderland_2009': 193,
 'fulham_2014': 194,
 'birmingham-city_2006': 195,
 'burnley_2017': 196,
 'southampton_1998': 197,
 'west-bromwich-albion_2018': 198,
 'west-ham-united_2007': 199,
 'arsenal_2008': 200,
 'manchester-city_2019': 201,
 'newcastle-united_2000': 202,
 'west-ham-united_2001': 203,
 'fulham_2019': 204,
 'manchester-city_2018': 205,
 'crystal-palace_1993': 206,
 'blackburn-rovers_1993': 207,
 'tottenham-hotspur_2017': 208,
 'west-ham-united_2008': 209,
 'manchester-city_2009': 210,
 'crystal-palace_2019': 211,
 'bolton-wanderers_2006': 212,
 'chelsea_2000': 213,
 'newcastle-united_2007': 214,
 'blackburn-rovers_1995': 215,
 'leicester-city_2018': 216,
 'leeds-united_1997': 217,
 'manchester-city_2017': 218,
 'tottenham-hotspur_2019': 219,
 'oldham-athletic_1993': 220,
 'norwich-city_2016': 221,
 'aston-villa_2003': 222,
 'bolton-wanderers_2005': 223,
 'manchester-city_2003': 224,
 'manchester-united_2007': 225,
 'manchester-united_1995': 226,
 'norwich-city_2012': 227,
 'burnley_2010': 228,
 'arsenal_2009': 229,
 'derby-county_1998': 230,
 'chelsea_2002': 231,
 'wimbledon_1993': 232,
 'newcastle-united_2001': 233,
 'swansea-city_2018': 234,
 'watford_2018': 235,
 'middlesbrough_2009': 236,
 'west-bromwich-albion_2005': 237,
 'manchester-united_2020': 238,
 'sheffield-wednesday_1994': 239,
 'tottenham-hotspur_2011': 240,
 'west-bromwich-albion_2006': 241,
 'west-ham-united_2010': 242,
 'wigan-athletic_2010': 243,
 'newcastle-united_1996': 244,
 'aston-villa_2005': 245,
 'sunderland_2015': 246,
 'burnley_2021': 247,
 'manchester-united_2010': 248,
 'sunderland_2002': 249,
 'liverpool_2014': 250,
 'aston-villa_2008': 251,
 'everton_2013': 252,
 'arsenal_1995': 253,
 'hull-city_2010': 254,
 'liverpool_2018': 255,
 'arsenal_2005': 256,
 'southampton_2020': 257,
 'aston-villa_1997': 258,
 'stoke-city_2016': 259,
 'west-ham-united_2021': 260,
 'charlton-athletic_2005': 261,
 'everton_2017': 262,
 'chelsea_2001': 263,
 'leicester-city_1997': 264,
 'manchester-city_2008': 265,
 'stoke-city_2017': 266,
 'manchester-united_2019': 267,
 'manchester-city_1995': 268,
 'chelsea_2008': 269,
 'tottenham-hotspur_2010': 270,
 'portsmouth_2008': 271,
 'blackburn-rovers_2005': 272,
 'bolton-wanderers_2002': 273,
 'newcastle-united_2018': 274,
 'middlesbrough_2004': 275,
 'tottenham-hotspur_1994': 276,
 'west-ham-united_1997': 277,
 'everton_1997': 278,
 'everton_2004': 279,
 'liverpool_2012': 280,
 'manchester-united_2005': 281,
 'arsenal_2020': 282,
 'manchester-united_2002': 283,
 'blackburn-rovers_2010': 284,
 'middlesbrough_2007': 285,
 'huddersfield-town_2018': 286,
 'tottenham-hotspur_1996': 287,
 'newcastle-united_2015': 288,
 'coventry-city_1995': 289,
 'liverpool_1999': 290,
 'fulham_2005': 291,
 'tottenham-hotspur_1998': 292,
 'queens-park-rangers_1995': 293,
 'west-ham-united_2000': 294,
 'west-bromwich-albion_2012': 295,
 'everton_1999': 296,
 'blackburn-rovers_1997': 297,
 'tottenham-hotspur_1993': 298,
 'wolverhampton-wanderers_2012': 299,
 'middlesbrough_2001': 300,
 'coventry-city_1993': 301,
 'liverpool_2005': 302,
 'everton_2007': 303,
 'fulham_2021': 304,
 'aston-villa_1995': 305,
 'tottenham-hotspur_2006': 306,
 'burnley_2019': 307,
 'fulham_2006': 308,
 'manchester-city_2010': 309,
 'norwich-city_1994': 310,
 'tottenham-hotspur_2009': 311,
 'brighton-and-hove-albion_2018': 312,
 'manchester-united_2000': 313,
 'bolton-wanderers_1998': 314,
 'burnley_2018': 315,
 'west-ham-united_2013': 316,
 'sunderland_2010': 317,
 'charlton-athletic_2007': 318,
 'leicester-city_2021': 319,
 'chelsea_2011': 320,
 'wimbledon_1994': 321,
 'sunderland_1997': 322,
 'chelsea_1995': 323,
 'leeds-united_1999': 324,
 'liverpool_2021': 325,
 'west-bromwich-albion_2015': 326,
 'sunderland_2003': 327,
 'fulham_2002': 328,
 'watford_2020': 329,
 'middlesbrough_2008': 330,
 'aston-villa_2002': 331,
 'chelsea_2003': 332,
 'manchester-city_2007': 333,
 'blackburn-rovers_2012': 334,
 'aston-villa_2015': 335,
 'chelsea_2005': 336,
 'blackburn-rovers_2008': 337,
 'aston-villa_2009': 338,
 'reading_2013': 339,
 'tottenham-hotspur_2002': 340,
 'manchester-city_2011': 341,
 'norwich-city_1993': 342,
 'sunderland_2008': 343,
 'liverpool_1998': 344,
 'nottingham-forest_1999': 345,
 'middlesbrough_2002': 346,
 'birmingham-city_2003': 347,
 'hull-city_2009': 348,
 'barnsley_1998': 349,
 'sheffield-wednesday_1999': 350,
 'crystal-palace_2020': 351,
 'blackpool_2011': 352,
 'crystal-palace_2021': 353,
 'liverpool_1995': 354,
 'watford_2017': 355,
 'chelsea_2016': 356,
 'sunderland_2014': 357,
 'aston-villa_2014': 358,
 'tottenham-hotspur_1997': 359,
 'blackburn-rovers_2009': 360,
 'coventry-city_2001': 361,
 'middlesbrough_1993': 362,
 'norwich-city_2014': 363,
 'birmingham-city_2010': 364,
 'swansea-city_2012': 365,
 'southampton_2004': 366,
 'nottingham-forest_1995': 367,
 'middlesbrough_2006': 368,
 'west-ham-united_2015': 369,
 'stoke-city_2009': 370,
 'crystal-palace_2016': 371,
 'sheffield-united_1994': 372,
 'tottenham-hotspur_2005': 373,
 'newcastle-united_1999': 374,
 'afc-bournemouth_2017': 375,
 'aston-villa_2012': 376,
 'southampton_2016': 377,
 'aston-villa_2006': 378,
 'aston-villa_1996': 379,
 'queens-park-rangers_1996': 380,
 'norwich-city_2013': 381,
 'sheffield-united_2021': 382,
 'queens-park-rangers_2015': 383,
 'sunderland_2001': 384,
 'liverpool_2001': 385,
 'middlesbrough_1996': 386,
 'arsenal_1999': 387,
 'chelsea_2018': 388,
 'stoke-city_2010': 389,
 'liverpool_2008': 390,
 'leeds-united_2000': 391,
 'bolton-wanderers_2007': 392,
 'liverpool_1994': 393,
 'ipswich-town_2001': 394,
 'arsenal_2013': 395,
 'afc-bournemouth_2018': 396,
 'leeds-united_1993': 397,
 'newcastle-united_2009': 398,
 'newcastle-united_1998': 399,
 'arsenal_2012': 400,
 'southampton_2013': 401,
 'manchester-united_1999': 402,
 'wolverhampton-wanderers_2004': 403,
 'west-ham-united_1996': 404,
 'portsmouth_2004': 405,
 'west-ham-united_2014': 406,
 'norwich-city_1995': 407,
 'coventry-city_1997': 408,
 'wigan-athletic_2006': 409,
 'southampton_2000': 410,
 'newcastle-united_2021': 411,
 'wigan-athletic_2012': 412,
 'arsenal_2002': 413,
 'southampton_2014': 414,
 'manchester-united_1994': 415,
 'charlton-athletic_2001': 416,
 'derby-county_2000': 417,
 'everton_2000': 418,
 'crystal-palace_2005': 419,
 'manchester-city_2021': 420,
 'everton_2001': 421,
 'wigan-athletic_2008': 422,
 'watford_2019': 423,
 'west-bromwich-albion_2013': 424,
 'blackburn-rovers_2003': 425,
 'sheffield-united_2007': 426,
 'aston-villa_2016': 427,
 'portsmouth_2006': 428,
 'west-bromwich-albion_2011': 429,
 'newcastle-united_2020': 430,
 'liverpool_2013': 431,
 'swansea-city_2013': 432,
 'chelsea_1997': 433,
 'derby-county_1999': 434,
 'arsenal_2004': 435,
 'bolton-wanderers_1996': 436,
 'bolton-wanderers_2012': 437,
 'charlton-athletic_2002': 438,
 'sunderland_2012': 439,
 'fulham_2004': 440,
 'arsenal_2017': 441,
 'norwich-city_2005': 442,
 'hull-city_2017': 443,
 'tottenham-hotspur_2014': 444,
 'manchester-city_2015': 445,
 'sheffield-wednesday_1998': 446,
 'arsenal_2019': 447,
 'west-ham-united_1995': 448,
 'blackburn-rovers_2011': 449,
 'tottenham-hotspur_1999': 450,
 'everton_1995': 451,
 'chelsea_2013': 452,
 'west-ham-united_2016': 453,
 'aston-villa_1994': 454,
 'west-bromwich-albion_2014': 455,
 'west-bromwich-albion_2017': 456,
 'swansea-city_2014': 457,
 'leeds-united_1995': 458,
 'stoke-city_2011': 459,
 'fulham_2012': 460,
 'middlesbrough_1997': 461,
 'newcastle-united_2019': 462,
 'swansea-city_2016': 463,
 'bolton-wanderers_2003': 464,
 'watford_2007': 465,
 'ipswich-town_1994': 466,
 'nottingham-forest_1993': 467,
 'chelsea_2020': 468,
 'aston-villa_2004': 469,
 'aston-villa_2010': 470,
 'blackburn-rovers_1994': 471,
 'chelsea_2012': 472,
 'coventry-city_2000': 473,
 'manchester-city_2020': 474,
 'chelsea_2021': 475,
 'everton_2020': 476,
 'fulham_2003': 477,
 'birmingham-city_2011': 478,
 'west-ham-united_2002': 479,
 'manchester-city_2006': 480,
 'west-ham-united_2020': 481,
 'tottenham-hotspur_2013': 482,
 'southampton_2003': 483,
 'coventry-city_1999': 484,
 'manchester-united_2013': 485,
 'leicester-city_2015': 486,
 'queens-park-rangers_2013': 487,
 'everton_2002': 488,
 'manchester-united_2021': 489,
 'leicester-city_2004': 490,
 'leicester-city_2019': 491,
 'aston-villa_1998': 492,
 'newcastle-united_1995': 493,
 'arsenal_2021': 494,
 'aston-villa_2013': 495,
 'bradford-city_2000': 496,
 'watford_2000': 497,
 'tottenham-hotspur_2018': 498,
 'leeds-united_1996': 499,
 'newcastle-united_2004': 500,
 'newcastle-united_2006': 501,
 'everton_1998': 502,
 'manchester-united_2001': 503,
 'arsenal_1998': 504,
 'arsenal_1994': 505,
 'sheffield-wednesday_1993': 506,
 'southampton_2015': 507,
 'chelsea_2019': 508,
 'newcastle-united_2003': 509,
 'birmingham-city_2004': 510,
 'wimbledon_1995': 511,
 'west-bromwich-albion_2009': 512,
 'liverpool_2009': 513,
 'leeds-united_1994': 514,
 'chelsea_1993': 515,
 'charlton-athletic_2006': 516,
 'burnley_2020': 517,
 'norwich-city_2020': 518,
 'aston-villa_2007': 519,
 'manchester-united_2011': 520,
 'manchester-united_1998': 521,
 'everton_2015': 522,
 'fulham_2009': 523,
 'chelsea_1996': 524,
 'blackburn-rovers_1998': 525,
 'brighton-and-hove-albion_2021': 526,
 'fulham_2013': 527,
 'ipswich-town_1993': 528,
 'arsenal_1996': 529,
 'manchester-city_1993': 530,
 'manchester-city_2016': 531,
 'derby-county_2008': 532,
 'portsmouth_2005': 533,
 'tottenham-hotspur_2021': 534,
 'leeds-united_2021': 535,
 'wimbledon_1999': 536,
 'nottingham-forest_1996': 537,
 'arsenal_2015': 538,
 'southampton_2001': 539,
 'sunderland_2016': 540,
 'leeds-united_1998': 541,
 'swindon-town_1994': 542,
 'wolverhampton-wanderers_2011': 543,
 'liverpool_2017': 544,
 'newcastle-united_1997': 545,
 'liverpool_2010': 546,
 'middlesbrough_2005': 547,
 'derby-county_2002': 548,
 'manchester-city_1994': 549,
 'tottenham-hotspur_2016': 550,
 'leicester-city_2020': 551,
 'newcastle-united_2014': 552,
 'wimbledon_1997': 553,
 'everton_1993': 554,
 'liverpool_2007': 555,
 'liverpool_2019': 556,
 'fulham_2011': 557,
 'bolton-wanderers_2011': 558,
 'liverpool_2006': 559,
 'everton_2006': 560,
 'manchester-united_2008': 561,
 'charlton-athletic_2003': 562,
 'southampton_1993': 563,
 'afc-bournemouth_2019': 564,
 'watford_2016': 565,
 'swansea-city_2015': 566,
 'everton_2016': 567,
 'sheffield-united_2020': 568,
 'middlesbrough_2000': 569,
 'chelsea_1998': 570,
 'west-bromwich-albion_2003': 571,
 'west-ham-united_2017': 572,
 'arsenal_2006': 573,
 'coventry-city_1994': 574,
 'wolverhampton-wanderers_2010': 575,
 'afc-bournemouth_2020': 576,
 'sheffield-wednesday_2000': 577,
 'blackburn-rovers_1999': 578,
 'wigan-athletic_2009': 579,
 'ipswich-town_2002': 580,
 'hull-city_2015': 581,
 'crystal-palace_1995': 582,
 'wimbledon_2000': 583,
 'chelsea_2015': 584,
 'manchester-city_2001': 585}

In [53]:
squad_list = squad_list.replace({"Team ID": dict_team_id})

In [40]:
# dict_team_id

In [27]:
# make tables

In [ ]:
# create lists

In [58]:
player_name = squad_list.Player.tolist()
club = squad_list.Club.tolist()
year = squad_list.Year.tolist()
team_id = squad_list['Team ID'].tolist()
player_id = squad_list['Player ID'].tolist()
appearances = squad_list['Appearances'].tolist()

In [72]:
year_player_id = []
new_player_id = []
new_team_id = []
new_year = []
new_club = []
new_player_name = []
for y, p_id, team, c, p_n in zip(year, player_id, team_id, club, player_name):
    x = (int(f'{p_id}{y}'))
    if x not in year_player_id:
        year_player_id.append(x)
        new_player_id.append(p_id)
        new_team_id.append(team)
        new_year.append(y)
        new_club.append(c)
        new_player_name.append(p_n)

In [73]:
# make new primary key for team_id

In [74]:
## table 1: team_id_player_id, p_id, t_id

In [75]:
dict_1 = {"year_player_id": year_player_id, 'Player_ID': new_player_id, 'Team_ID': new_team_id}
table_1 = pd.DataFrame(dict_1)

In [76]:
## table2: team_id, team, year

In [87]:
temp_team_id = []
temp_team = []
temp_year= []

for team, club, year in zip(new_team_id, new_club, new_year):
    if team not in temp_team_id:
        temp_team_id.append(team)
        temp_team.append(club)
        temp_year.append(year)

In [88]:
dict_2 = {"Team_ID": temp_team_id, 'Team': temp_team, 'Year': temp_year}
table_2 = pd.DataFrame(dict_2)

In [89]:
table_2

     Team_ID                     Team  Year
0         40                  arsenal  1993
1        505                  arsenal  1994
2        253                  arsenal  1995
3        529                  arsenal  1996
4         75                  arsenal  1997
..       ...                      ...   ...
581      543  wolverhampton-wanderers  2011
582      299  wolverhampton-wanderers  2012
583      106  wolverhampton-wanderers  2019
584       88  wolverhampton-wanderers  2020
585       90  wolverhampton-wanderers  2021

[586 rows x 3 columns]

In [78]:
## table3: Player_id, name

In [79]:
dict_3 = {"Player_ID": new_player_id, 'Name': new_player_name}
table_3 = pd.DataFrame(dict_3).drop_duplicates()

### Save to MySQL

In [80]:
# Create dataframe
df = table_1
# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql('table_1', engine, index=False)

In [91]:
# Create dataframe
df = table_2
# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql('table_2', engine, index=False)

In [82]:
# Create dataframe
df = table_3
# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql('table_3', engine, index=False)

# Connect to MongoDB

### Create lists

In [ ]:
players = squad_list.Player.tolist()
all_player_id = squad_list['Player ID'].tolist()
team_id = squad_list['Team ID'].tolist()

In [ ]:
all_player_id_to_team_ids_map = {}
team_id_to_player_id = {}
player_id_to_player_name = {}
player_name_to_player_id_map = {}

In [ ]:
for p, p_id, t_id in zip(players, all_player_id, team_id):
    player_name_to_player_id_map[p] = p_id
    all_player_id_to_team_ids_map[p_id].append(t_id)
    team_id_to_player_id[t_id].append(p_id)
    player_id_to_player_name[p_id] = p

### Create Mongo Account

In [ ]:
import pymongo
from pymongo import MongoClient

In [ ]:
cluster = MongoClient("mongodb+srv://jw15667:edendale146@cluster0.keqph.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

### Player_id to Player_name

In [ ]:
db = cluster["football_db"]
collection = db["id_to_name"]

In [ ]:
myList = []
for player_id, player in zip(all_player_id, players):
    post = {"_id": player_id, "name": player}
    if player_id not in myList:
        myList.append(post)

In [ ]:
footballer_name = list({v['_id']: v for v in myList}.values())

In [ ]:
collection.insert_many(footballer_name)

### Player_id to Team_id

In [ ]:
player_to_team_id = {"_id": 33, "player_name": "Tony Adams", "team_id": ['arsenal_1993',
  'arsenal_1994',
  'arsenal_1995',
  'arsenal_1996',
  'arsenal_1997',
  'arsenal_1998',
  'arsenal_1999',
  'arsenal_2000',
  'arsenal_2001',
  'arsenal_2002']}

In [ ]:
db = cluster["football_db"]
collection = db["all_football_info"]

In [ ]:
player_to_team_id = []
for p, p_id, t_id in zip(players, all_player_id, team_id):
    list_index = next((index for (index, d) in enumerate(player_to_team_id) if d["_id"] == p_id), None)
    if list_index != None:
        player_to_team_id[list_index]['team_id'].append(t_id)
    else:
        local ={}
        local['_id'] = p_id
        local['player_name'] = p
        local['team_id'] =[t_id]
        player_to_team_id.append(local)

In [ ]:
player_to_team_id

In [ ]:
collection.insert_many(player_to_team_id)